<table class="table  text-center">
    <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user._id}}</td>
            <td>{{user.gender | gender}} {{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td class="d-flex justify-content-between">
                <button class="btn btn-warning" style="border: transparent;" (click)="goToEdit(user._id)">Edit</button>
                <button class="btn btn-danger" style="border: transparent;" (click)="deleteUser(user._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>